# fly.toml app configuration file generated for encurtador-backend on 2026-01-26T11:35:55-03:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'encurtador-backend'
primary_region = 'gru'

[build]
  dockerfile = 'Dockerfile'

[env]
  PORT = '8080'
  SCHEDULER_TIME = '30'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0


[[vm]]
  memory = '512mb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 512
